---
layout: default
title: Home
---

<h1>Jonathan Giuffrida</h1>



<!-- add all my favorite quotes throughout the site
  fix the duplicate "Stories" in the sidebar
-->

<p>I am a healthcare policy professional with <a href="http://instagram.com/bunny_report">two bunnies</a> and a <a href="https://www.linkedin.com/profile/view?id=153873587">girlfriend</a>.</p>


<div class="group">
  <div class="activity" onclick="window.location='/about';">
    <h3><a href="/about">About me</a></h3>
    <p>See the places I've worked and the things I know.</p>
  </div>
  <div class="activity" onclick="window.location='/projects';">
    <h3><a href="/projects">Projects</a></h3>
    <p>See things I've made.</p>
  </div>
  <div class="activity" onclick="window.location='/reading';">
    <h3><a href="/reading">Reading</a></h3>
    <p>See books I've read and poetry I've learned since 2007.</p>
  </div>
  <div class="activity" onclick="window.location='/translations';">
    <h3><a href="/translations">Translations</a></h3>
    <p>Sometimes I translate things for fun.</p>
    </div>
</div>
<br>
<hr>

<h3>Recent Projects</h3>
<div class="group">
{% assign counter = 0 %}
{% for post in site.posts %}
    {% if counter < 6 %}
    <div class="panel{% if post.image %}" style="background-image: url('{{ post.image }}'); {% else %} no-image{% endif %}" onclick="window.location='{{ post.url }}';">
      <div class="transparency">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="post-date">{{ post.date | date: "%B %Y" }}</p>
        <p class="post-excerpt">{{ post.excerpt }}</p>
      </div>
    </div>
    {% assign counter=counter | plus:1 %}
  {% endif %}
{% endfor %}
</div>
<hr>

<!--

objective: one-stop-shop for jonny gee
contact and links
theme: favorite quotes
reading: fix foreign characters, integrate with footer links, sort by lname at first, hide language and lname, style datatables, show 25 per page
press/written by me
use j/k to navigate through poetry


google analytics


-->
