<div class="sidebar">
  <div class="container sidebar">
	<div class="sidebar-about">
      <a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/resources/images/bunnies.jpg" width="150rem" height="150rem" /></a>
      <h3 class="name">Jonathan Giuffrida</h3>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "About Me" %} active{% endif %}">
        <a href="{{ site.baseurl }}/about/">About Me</a>
      </li>      
      <li class="sidebar-nav-item{% if page.title == "Reading" %} active{% endif %}">
        <a href="{{ site.baseurl }}/reading/">Reading</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "Poetry" %} active{% endif %}">
        <a href="{{ site.baseurl }}/poetry/">Poetry</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "Translations" %} active{% endif %}">
        <a href="{{ site.baseurl }}/translations/">Translations</a>
      </li>      

      <br>
    
      <a class="sidebar-icon" href="http://www.linkedin.com/in/jcgiuffrida" style="float:right;"><img src="{{ site.baseurl }}/resources/li.png" height="32rem" width="32rem" /></a>
      <a class="sidebar-icon" href="https://github.com/jcgiuffrida" style="float:right;"><img src="{{ site.baseurl }}/resources/gh.png" height="32rem" width="32rem" /></a>
      
    </ul>
    

  </div>
</div>
